@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  /*background: #121212;*/
  color: #222;
}

/* 解决弹窗无障碍报错 */
.ant-modal div[aria-hidden="true"] {
  display: none !important;
}
