@tailwind base;
@tailwind components;
@tailwind utilities;

.Toastify__toast-container {
    width: 300px !important;
}

.Toastify__toast-icon {
    width: 22px !important;
}

 /*关闭按钮居中*/
.Toastify__close-button {
    /*margin: auto 0;*/
}

.Toastify__toast {
    /*padding: 4px 8px !important;*/
}

.Toastify__toast-body {
    align-items: start !important;
}
